.cusBox {
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 20px;
    transition: all .2s;
    overflow: hidden;
    background: rgba(255, 255, 255, .04);
    /* background: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.065) 10%, rgba(255, 255, 255, 0) 50% ,rgba(255, 255, 255, 0) 100%); */

}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    transition: 0.5s ease;
    margin: 0 10px;
    background: linear-gradient(0deg, #251C31 0%, #251C31 100%), #251C31;
    box-shadow: 0px 0px 18px -7px #d488fab0 inset;


}

.icons:hover {
    margin-top: -15px;
    transform: translate(0, -8);

}
.ss{
    max-height: 620px !important;
}