
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    padding: 15px;
    border-radius: 50%;
    color: #fff;
    transition: 0.5s ease;
    margin: 0 10px;
    background: linear-gradient(0deg, #251C31 0%, #251C31 100%), #251C31;
    box-shadow: 0px 0px 18px -7px #d488fab0 inset;


}

.icons:hover {
    margin-top: -15px;
    transform: translate(0, -8);

}